<% content_for(:description) do %>
  Réserver un stage de poterie avec Anne Huet Rapeaud. Stages d'1/2 journée ou journée complète. Paiement du stage par CB en ligne.
<% end %>
<% content_for(:title_tag) do %>
  Réserver un stage de poterie avec Anne Huet Rapeaud.
<% end %>
<% content_for(:meta_image) do %>
  <%= render 'shared/stage_pic'%>
  <%= @stagepicpath %>
<% end %>

<%= photo_update('lessonphoto', 80, '', '', 30, '.stagepic', "Mise à jour photo pour stages")%>

<div class="container">
  <div class="row">

    <!-- LAPTOP -->
    <div class="hidden-xs col-sm-offset-2 col-sm-8">
      <div class="stage">
        <%= facebook_share_id("facebookshare") %>
        <% if @available_courses.size > 0 %>
          <%= simple_form_for @lesson do |f| %>
            <%= f.input :stages_ref, collection: @courses_to_display, label: "Stage", selected: @courses_to_display.first %>
            <%= f.input :student, collection: 1..@available_courses.first.capacity, label: "Nombre de participants", selected: 1 %>
            <%= f.input :moment, collection: @formatted_moments.first, label: "Durée", selected: @formatted_moments.first.first %>
            <%= f.hidden_field :duration, value: 1 %>
            <%= f.hidden_field :stage_id, value:  @available_courses.first.id %>
            <% if user_signed_in? %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <div class="submit-div-stage">
              <input type="hidden" name="locale" value="<%= I18n.locale%>">
              <%= f.submit t(:course_request), class: "btn btn-primary stage-btn" %>
            </div>
          <% end %>
        <% else %>
          <h2 class="no-stage">Désolé, il n'y a aucun stage ouvert à la réservation pour le moment.</h2>
        <% end %>
        <div class="text-container">
          <div class="texte-stage">
            <% if @available_courses.size > 0 %>
              <h1 id="stage_name"><%= @available_courses.first.name %></h1>
              <h2 id="stage_date">Date : <%= l @available_courses.first.period_start, format: :short %>. Lieu : <%= @available_courses.first.location %></h2>
              <p id="stage_description"><%= @available_courses.first.description.gsub(/\n/, '<br>').html_safe %></p>
            <% end %>
          </div>
        </div>
        </div>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      var coursesList = <%= raw( @available_courses.to_json ) %>;
      var formattedMoments = <%= raw( @formatted_moments.to_json ) %>;
      coursesList.forEach( (course, index) => course["formatedMoment"] = formattedMoments[index])
      var selectStage = document.getElementById("lesson_stages_ref")

      selectStage.addEventListener("change", updateFields, false);

      function updateFields(event) {
        // Get clicked stage
        var stage_string = event.target.options[event.target.selectedIndex].text;
        var stage_name = stage_string.split(" - ")[1]
        var stage_from_json_list = coursesList.find( function(stage) { return  stage.name === stage_name })

        // Moment select :
        var selectStage = document.getElementById("lesson_moment")
        var new_options = stage_from_json_list.formatedMoment;

        var newOptionsHtml = new_options.map( (x, index) => {
          var select = index === 0 ? "selected=\"selected\"" : ""
          return "<option "+select+">"+ x +"</option>"
        }).join("");
        selectStage.innerHTML = newOptionsHtml;

        //Capacity select :
        var selectCapacity = document.getElementById("lesson_student")
        var new_options_capacity =  Array.from({ length: stage_from_json_list.capacity }, (v, k) => k + 1)

        var newOptionsHtml_capacity = new_options_capacity.map( (x, index) => {
          var select = index === 0 ? "selected=\"selected\"" : ""
          return "<option "+select+">"+ x +"</option>"
        }).join("");
        selectCapacity.innerHTML = newOptionsHtml_capacity;

        // Description Bloc :
        var stage_name = document.getElementById("stage_name")
        stage_name.textContent = stage_from_json_list.name

        var stage_date = document.getElementById("stage_date")
        var date = new Date(stage_from_json_list.period_start)
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var frDate = date.toLocaleDateString('fr-FR', options)
        stage_date.textContent = "Date : " + frDate + ". Lieu : " + stage_from_json_list.location

        var stage_description = document.getElementById("stage_description")
        stage_description.innerHTML = stage_from_json_list.description.replace( /\n/g, '<br>' );
        console.log(stage_from_json_list.description)
        var lesson_stage_id = document.getElementById("lesson_stage_id")
        lesson_stage_id.value = stage_from_json_list.id

      }
    });
  </script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Course",
    "name": "Stage de poterie",
    "description": "Fabriquez vos poteries avec Anne Huet Rapeaud. Journée ou 1/2 journée. Paiement du stage par CB en ligne.",
    "provider": {
      "@type": "Organization",
      "name": "Anne Huet Rapeaud",
      "sameAs": "<%=request.original_url%>"
    }
  }
</script>
<script
  type="text/javascript"
  async defer
  src="//assets.pinterest.com/js/pinit.js"
  data-pin-round="true"
  data-pin-tall="15px"
></script>
  <%= render 'shared/facebookshare' %>
<% end %>
